$orange: rgba(204, 85, 32, 1);
$gray: rgba(216, 216, 216, 0.5);
$black: rgb(0, 0, 0);
$white: #fff;

$fontRoboto: Roboto, sans-serif;
$fontMontserrat: Montserrat;
$fontPlayfair: Playfair;
$font-title: 400 50px $fontMontserrat;
$font-medium: 400 26px $fontMontserrat;
$font-small: 400 18px $fontMontserrat;


$mobile: 320px;
$tablet: 768px;
$desktop: 1170px;
$full-width: 100%;

$cursor: pointer;
$transition: .2s ease-in-out;