$orange: rgba(204, 85, 32, 1);
$gray: rgba(216, 216, 216, 0.5);
$black: rgba(15, 0, 26, 1);
$white: #fff;

$mainFont: Roboto, sans-serif;
$font-title: 400 50px mainFont;
$font-medium: 400 26px mainFont;
$font-small: 400 18px mainFont;


$mobile: 320px;
$tablet: 768px;
$desktop: 1170px;
$full-width: 100%;

$cursor: pointer;
$transition: .2s ease-in-out;