*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

html,
body {
  min-width: 320px;
  overscroll-behavior: none;
  overflow-x: hidden;
}

a {
  font-family: Roboto sans-serif;
  text-decoration: none;
  color: black;
  color: inherit;
  cursor: pointer;
}
a:focus, a:active {
  outline: none;
}
a:visited {
  text-decoration: none;
  color: black;
}
a:hover {
  text-decoration: none;
}

input::-ms-clear {
  display: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

ul li {
  list-style: none;
  font-family: Roboto sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
  font-family: Roboto sans-serif;
}

.container {
  margin: 0 auto;
  width: 90%;
}

section {
  flex: 1 1 auto;
}

.header {
  position: relative;
  background: rgba(60, 60, 60, 0.7);
}
.header__content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.header__content nav {
  font: 600 14px Montserrat;
  line-height: 1.2192857143;
}
.header__content nav ul {
  display: flex;
  flex-direction: row;
}
.header__content nav ul li {
  padding: 0 10px;
  margin: 20px 0;
}
.header__content nav ul li a {
  color: #fff;
  text-transform: uppercase;
  transition: all 0.2s ease-in-out;
}
.header__content nav ul li a:hover {
  color: rgb(204, 85, 32);
}
.header__content span img {
  padding-left: 20px;
}

.intro {
  background-image: url("../images/main-logo.png");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  color: #fff;
  position: relative;
}
.intro__content {
  position: absolute;
  top: 30%;
}
.intro::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.45);
}
.intro h1 {
  font: 700 80px Playfair;
  line-height: 1.125;
  width: 35%;
}
.intro span {
  display: block;
  font: 400 20px Montserrat;
  line-height: 1.5;
  width: 55%;
}

.items {
  margin-top: 50px;
}
.items__content {
  display: grid;
  grid-template-areas: "item1 item2" "item3 item2";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  gap: 15px;
}
.items__element {
  display: flex;
  font: 700 24px Playfair;
  line-height: 1.4166666667;
  background-color: rgb(244, 244, 244);
  padding: 20px;
}
.items__button {
  display: flex;
  justify-content: center;
  padding: 50px 0;
}

.item1 {
  position: relative;
  grid-area: item1;
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 2;
}
.item1::before {
  font: 600 18px Montserrat;
  line-height: 1.5;
  color: rgb(150, 149, 149);
  content: "#Food";
  top: 50px;
  left: 40px;
  position: absolute;
}
.item1 span {
  padding: 70px 20px;
}

.item2 {
  position: relative;
  grid-area: item2;
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 2;
  flex-direction: row-reverse;
}
.item2::before {
  font: 600 18px Montserrat;
  line-height: 1.5;
  color: rgb(150, 149, 149);
  content: "#House";
  top: 50px;
  right: 320px;
  position: absolute;
}
.item2 span {
  padding: 70px 20px;
}

.item3 {
  position: relative;
  grid-area: item3;
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 2;
  grid-column-end: 3;
}
.item3::before {
  font: 600 18px Montserrat;
  line-height: 1.5;
  color: rgb(150, 149, 149);
  content: "#Office";
  top: 50px;
  left: 40px;
  position: absolute;
}
.item3 span {
  padding: 70px 20px;
}

.button__all__foxes {
  color: #fff;
  min-width: 30%;
  padding: 15px 30px;
  text-align: center;
  border: 2px solid rgb(204, 85, 32);
  background: rgb(204, 85, 32);
  font: 500 20px Montserrat;
  line-height: 1.5;
}
.button__submit {
  font: 500 20px Montserrat;
  line-height: 1.5;
  color: #fff;
  padding: 10px 15px;
  text-align: center;
  text-transform: capitalize;
  border: 1px solid #fff;
  border-radius: 2px;
  background: rgb(0, 0, 0);
  cursor: pointer;
  transition: box-shadow 0.2s ease-in-out;
}

.subscription {
  background-color: rgba(216, 216, 216, 0.5);
}
.subscription__content {
  display: flex;
  flex-direction: column;
  padding: 100px;
  align-items: center;
  gap: 30px;
}
.subscription span {
  font: 600 32px Montserrat;
  line-height: 1.5;
}
.subscription p {
  font: 400 18px Montserrat;
  line-height: 1.5;
  width: 730px;
  text-align: center;
}
.subscription form {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.subscription input[type=email] {
  padding: 10px;
  min-width: 100%;
  border-radius: 2px;
  font: 500 20px Montserrat;
  line-height: 1.5;
}

.footer {
  background-color: rgb(0, 0, 0);
}
.footer__content {
  padding: 100px;
  color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.footer__links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.footer__social-list {
  display: flex;
  flex-direction: row;
  gap: 15px;
}
.footer a, .footer li {
  color: #fff;
  font: 400 14px Montserrat;
  line-height: 1.2142857143;
  padding: 10px 0;
}
.footer li:first-child {
  font-weight: bold;
}